@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 400px) {
  .background-gradient::before {
    background: radial-gradient(
      60vw 40vh at 50vw 40vh,
      rgba(0, 64, 201, 0.376) 0%,
      rgba(37, 38, 44, 0) 100%
    );
    z-index: -1000;
    content: "";
    position: absolute;
    inset: 0px;
    transform: scale(1);
    pointer-events: none;
  }
  .background-gradient-two::before {
    background: radial-gradient(
      40vw 40vh at 50vw 50vh,
      rgba(76, 0, 255, 0.548) 0%,
      rgba(25, 82, 204, 0.376) 40%,
      rgba(32, 32, 36, 0) 100%
    );
    z-index: -1000;
    content: "";
    position: absolute;
    inset: 0px;
    transform: scale(1);
    pointer-events: none;
  }
  .background-gradient-three::before {
    background: radial-gradient(
      60vw 80vh at 50vw 50vh,
      rgba(25, 82, 204, 0.376) 0%,
      rgba(42, 1, 153, 0.233) 100%
    );
    z-index: -1000;
    content: "";
    position: absolute;
    inset: 0px;
    transform: scale(1);
    pointer-events: none;
  }
}

main {
  z-index: 1000;
}